<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Tasks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="nav navbar-nav float-md-right">
        <li class="nav-item active">
            <a class="nav-link">Welcome {{usr.name}}</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i></a>
          </li>
    </ul>
  </div>
</nav>


<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="box box-aqua">
      <div class="box-header ui-sortable-handle" style="cursor: move;">

          <div class="box-tools pull-right">
              <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add task</button>
          </div>
          
          <i class="ion ion-clipboard"></i>
        <h3 class="box-title">Task List</h3>       

      </div>
 
      <div class="box-body">
        
      </div>
      <div class="box-footer clearfix no-border">
      <button type="button" class="btn btn-default pull-right" (click)="addTask()"><i class="fa fa-plus"></i> Add task</button>
      </div>
    </div>
  </div>
    
</div>
</div>



<div class="container">
    <div class="row">
        <div [ngClass]="isTaskAddUpdate?'col-md-7':'col-md-12'">
            <ul class="todo-list ui-sortable">
                <li *ngFor="let task of taskList">            
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck{{task.id}}">
                    <label class="custom-control-label" for="customCheck{{task.id}}">{{task.title}}</label>
                    <small class="badge badge-default"><i class="fa fa-clock-o"></i> 1 month</small>
                  <div class="tools">
                    <i class="fa fa-edit"></i>
                    <i class="fa fa-trash-o"></i>
                  </div>
                  </div>   
                </li>
              </ul>
        </div>



        <div *ngIf="isTaskAddUpdate" class="col-md-5">
            <div>
                <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" formControlName="title" class="form-control" id="title" placeholder="Task Title">
                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <input type="text" formControlName="description" class="form-control" id="description" placeholder="Task Description">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                  </form>
                </div>
        </div>



    </div>
</div>