<!DOCTYPE html><html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'app/styles.43ee55fd679d3634dc29.css' %}"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="{% static 'app/runtime.a66f828dca56eeb90e02.js' %}"></script><script type="text/javascript" src="{% static 'app/polyfills.e3633a42d1123afc5fc9.js' %}"></script><script type="text/javascript" src="{% static 'app/main.fb791097494d9501964a.js' %}"></script>

</body></html>