<!DOCTYPE html><html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" href="{% static 'app/styles.7a79052728dc700e89fd.css' %}"></head>
<body>
  <app-root></app-root>


<script type="text/javascript" src="{% static 'app/runtime.6afe30102d8fe7337431.js' %}"></script><script type="text/javascript" src="{% static 'app/polyfills.855594eee79c1e137f56.js' %}"></script><script type="text/javascript" src="{% static 'app/main.a571a7dc61e4baef10e7.js' %}"></script></body></html>